.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: inherit;
  text-align: center;
  border-top: 1px solid #ddd;
}

.marginBottom {
  margin-bottom: 10px;
}

.center {

  text-align: center;
}

.form-control {
  margin-bottom: 6px !important;
}

.hidden2 {
  visibility: hidden;
}

.key {
  display: none;
}
.allProducts .btn-danger{
    padding: 6px 15px;
}
